<h1 id="summary">Summary:</h1>
<ul>
<li><p>Python developer with a total of 7 years of IT experience, with around 4 years in python, with exposure to aws, fabric, and server administration.</p></li>
<li><p>Active proponent of functional unit tests to counter-balance problems caused by python’s duck typing. Big fan of ssh, unittest, fabric and tornado packages. Think django and flask are ok for quick CRUD web apps, but rather painful to customize even minor UI designs.</p></li>
<li><p>On the Server OS side, still think centos/redhat is more recommended than debian/ubuntu, since it has explicit daemon servers start on boot config (unlike debian) and slower, better tested updates(unlike ubuntu)</p></li>
<li><p>Spend my free time learning about interesting stuff that varies across math, science, technology internals(linux networking stack, memory management etc.). Sometimes write some projects on github for supplementing idle/passive theory learning/reading, or testing my understanding of what I learnt(See udpchat repo on my github).</p></li>
<li><p>P.S: If you really need academic qualifications go to my linkedin profile(link on last page)</p></li>
</ul>
<h1 id="skill-set">Skill set:</h1>
<h2 id="in-training-skills">In Training Skills:</h2>
<ul>
<li><p>Poke around haskell and C in my free time, trying to teach myself as much as possible. C was my first programming language, but never really got into it, and now it’s hard to find time. Had fun creating that zlpop command for redis.</p></li>
</ul>
<h2 id="proven-skills">Proven Skills:</h2>
<ul>
<li><p>Sys Admin: Run my wordpress blog from a debian Linode box.Personally use a Debian + awesome WM setup for mylaptop. Settled on Debian after being annoyed by ubuntu’s upgrades breaking my customized setup regularly. Was on Fedora before that before gnome3’s slow response drove me off it. Setup supervisord for restarting servers, written script to parse sar cmd output and upload to graphite servers.</p></li>
<li><p>Backend: Have tinkered with mysql memory settings for improving latencies at peak load on a production setup. Have setup a mysql-percona maste-slave setup to test performance by percona. Used most(reasonably modern, not pylon and stuff) of the python web frameworks in commercial or personal projects.Poked around redis source code and recently added a new command zlpop to issue pop operation to sorted sets.</p></li>
<li><p>Frontend: Have a basic understanding of html + css+ javascript combination(know what a DOM is, but not used writing fronted code much).</p></li>
</ul>
<h1 id="experience-summary">Experience Summary:</h1>
<h2 id="senior-software-engineer-chatimity-software-pvt.-ltd.">Senior Software Engineer – Chatimity Software Pvt. Ltd.</h2>
<ul>
<li><p><em>Skills:</em> Python, html, js.</p></li>
<li><p><em>Time Period:</em> Dec. 2013 – Oct.2014</p></li>
<li><p>Built a tool for automatically censoring/deleting bad pics, based on probablistic data( generated from user flags, and minor admin feedback)</p></li>
<li><p>Wrote a module to calculated post quality based on idf scores of words in the text of the post.</p></li>
<li><p>Automated setup of development box (with installation of system and python packages, virtual env, .git hooks etc.)</p></li>
<li><p>Python cronjob for parsing sar text output and updating to a graphite server enabling early alert of a backend server struggling.</p></li>
</ul>
<h2 id="product-engineer-maxheap-techonologies-pvt.-ltd">Product Engineer – maxHeap Techonologies Pvt. Ltd</h2>
<ul>
<li><p><em>Skills:</em> Python, Bash shell script</p></li>
<li><p><em>Time Period:</em> Jul. 2013 – Sep.2013</p></li>
<li><p>Flask based UI for downloading a image from a url, rotating it and uploading to S3 bucket.</p></li>
<li><p>Script for granting modifying the sudoers file on a linux servers to add data based on a json added data.</p></li>
</ul>
<h2 id="software-engineer-python-csscorp-technology-pvt.-ltd.">Software Engineer – Python – CSSCORP Technology Pvt. Ltd.</h2>
<ul>
<li><p><em>Skills:</em> Python, shell script, html</p></li>
<li><p><em>Time Period:</em>Oct . 2011 – May.2013</p></li>
<li><p>Django based UI+web REST API for configuring NetScaler Load Balancer Pattern Sets.</p></li>
<li><p>Automating VIP config migration across two Load Balancers and routers – a standard Network operation that causes a lot of downtime</p></li>
<li><p>Adding a User Account, geo-analytics graphs and tools for a domain redirection tool.</p></li>
</ul>
<h2 id="webnotes-technologies-pvt.-ltd.">Webnotes Technologies Pvt. Ltd.</h2>
<ul>
<li><p><em>Skills:</em> Python, shell script</p></li>
<li><p><em>Time Period:</em>Aug . 2010 – June.2011</p></li>
<li><p>Setup Replication between a Percona slave and mysql master running on CentOS.</p></li>
<li><p>Setting up, maintenance of svn repository for internal server tools codebase.</p></li>
<li><p>Simple python script to update a given svn repo folder and reset the permissions on the contents.</p></li>
<li><p>Module manager for importing and executing python modules from the filesystem,dynamically.</p></li>
<li><p>Basic database test cases for a js driven,meta-data based web-app development framework</p></li>
<li><p>** - Also did a lot of Server Administration,LAMP Server setup,replication between a mysql master and percona slave, High Availability on a centOS Server for an online ERP Application.</p></li>
</ul>
<h2 id="whitewall-networks-pvt.-ltd">Whitewall Networks Pvt. Ltd</h2>
<ul>
<li><p><em>Skills:</em> Python</p></li>
<li><p><em>Time Period:</em> Jan.2010 – Mar.2010</p></li>
<li><p>A python Package, to assign each user to a group, each of which has a specific set of permissions Create,Delete,Update,Migrate) of Machine Images,Volumes,Disks,Users,Cost limits,Applications etc. Used Django-ORM to store the tables on a MySQL DB.</p></li>
<li><p>Scheduler-Job package A Wrapper(CmnScheduler,CmnJob,CmnPeriodicJob,CmnCronJob) around the python APScheduler library. The wrapper, has to receive a python function/object(which will inherit the CronJob/PeriodicJob class and override the run method) and run it in a seperate process and maintains a status table(running/finished/scheduled) of the process.(Also in the process found a bug in the apscheduler library and got it fixed)</p></li>
</ul>
<h2 id="ibm-global-services-india-ltd.">IBM Global Services India Ltd.</h2>
<ul>
<li><p><em>Skills:</em> Baan-5 script</p></li>
<li><p><em>Time Period:</em> Aug.2004 – Mar.2007</p></li>
<li><p>Sales order Upload: Sales order upload was a program that reads sales order headers and lines from an ASCII text file, sorts them according to the Sales order header and then creates/upgrades the sales order and lines table in Baan. The primary challenge was that there was no specific ordering/sequencing of the sales order lines and therefore all lines had to be read and sorted before updating the DB.</p></li>
<li><p>Baan V Customization:Report Layout modification for Sales Invoice layout of Hungary,china,chile. As a consequence of the RoHS Guidelines ECR,there were a few fields that needed to be printed based on whether the RoHS flag was true or false. The key challenge was that Baan Reports had a limit of 128 fields that could be exported to the report. So had to write a couple of lines in the report script to get the required field from the table or calculate it if possible.</p></li>
<li><p>Customization of Finance Transaction session: There were recurring problems of unbalanced transactions, due to a new sales order policy adopted.So customized the Finance Transaction session to allow upload of single transactions, currency-wise, thereby enabling the users to insert a transaction to balance the fiscal batch and close the year.</p></li>
<li><p>Did a bunch of other projects in Baan 5.</p></li>
</ul>
<h1 id="hyperlinks">Hyperlinks:</h1>
<ul>
<li><p>http://www.linkedin.com/in/anandjeyahar</p></li>
<li><p>http://github.com/anandjeyahar</p></li>
<li><p>http://www.anandjeyahar.net</p></li>
<li><p>http://anandjeyahar.net/my-projects-history/</p></li>
</ul>
