<p></p>
<h1>Academic Qualifications:</h1>
<ul>
<li><p>Master of Sciences (Cognitive Science )(Electives in HCI and NLP) 6.5 GPA from Center for Behavioural and Cognitive Sciences (CBCS ), University of Allahabad. 2007-2009.</p></li>
<li><p>Bachelor of Engineering (Mechanical Engineering Elective: Machine Vision) 72.5</p></li>
</ul>
<h1>Skill set:</h1>
<h2>Have Worked with:</h2>
<ul>
<li><p>Languages: Python 2.5+,C,C++,Matlab,Bash/AIX shell scripts,Latex</p></li>
<li><p>Operating Systems: all linux flavours and a few unices.</p></li>
<li><p>Python Packages: nltk, python-graph, os, sys, apscheduler, multiproccessing,django,fabric,boto</p></li>
</ul>
<h1>Experience Summary:</h1>
<ul>
<li><p>Around 6 years of experience involved in various stages of software development.</p></li>
<li><p>5 months converting a POC domain-redirection service into a SaaS service(just user accounts + domain analytics)</p></li>
<li><p>16 months architecting a network operations automations tool using python.</p></li>
<li><p>3 months (part-time) administering LAMP Server</p></li>
<li><p>7 months as Technology Lead Programmer for a saas-based erp startup at erpnext.com, Mumbai.</p></li>
<li><p>5 months as python programmer at whitewall networks, Bangalore.</p></li>
<li><p>12 months (part-time) as Presentation script programmer, at Eye-tracker lab, CBCS,University of Allahabad.</p></li>
<li><p>29 months as an System Analyst in IBM Global Services India Ltd.</p></li>
</ul>
<h1>IBM Internal Trainings:</h1>
<ul>
<li><p>Entry level training program in Web technology (includes Java, J2EE and Oracle PL/SQL)</p></li>
<li><p>Basic Unix and Shell scripting concepts.</p></li>
<li><p>Linux internals and Device drivers</p></li>
<li><p>Embedded Linux Workshop</p></li>
</ul>
<h1>Those bunch of tests(aka Certifications):</h1>
<ul>
<li><p>Brain bench Certifications in Unix administration, OO concepts, Java 2, Programming concepts, C++, Data Modeling concepts, RDBMS Concepts</p></li>
<li><p>IBM Certified specialist for IBM DB2 UDB 7.1 - Family Fundamentals.</p></li>
<li><p>AIX 5L Basics Certification by IBM</p></li>
<li><p>NCR Teradata Certified Professional</p></li>
</ul>
<h1>Hyperlinks:</h1>
<ul>
<li><p>http://www.linkedin.com/in/anandjeyahar</p></li>
<li><p>http://github.com/anandjeyahar</p></li>
<li><p>http://anandjeyahar.com</p></li>
<li><p>http://serverfault.com/users/64188/anand-jeyahar</p></li>
</ul>
