<h1>Projects-Academics:</h1>
<ul>
<li><p>Classification of puns: Developed a semantic ambiguity measure,using wordnet DB(nltk.wordnet) and similarity values extracted from wordnet and a graph representation of all possible senses.</p></li>
<li><p>Colloborated in design and coded the stimulus presentation for a Eye-movement study on Emotional Reappraisal.</p></li>
<li><p>Eye-movement Studies: Colloborated in designing and coding the stimulus presentation for a Eye-movement study on Language ComprehensionVisual world paradigm.</p></li>
<li><p>Duration judgement vs physical fatigue a correlation study: As part of the coursework,ran an experiment to study how duration judgement varies with different fatigue conditions.</p></li>
<li><p>Wrote a Bar,pie, graph drawing library/application in C++ for a intra college programming competition.</p></li>
<li><p>Automation of a Thread profile inspection: Recommended a modified image processing based algorithm using CCD cameras and a coupled computer, to capture the thread profile and compare it with the required thread profile, thereby eliminating Manual testing.</p></li>
</ul>
<h1>Projects - Hands-on Training:</h1>
<ul>
<li><p>Wrote a basic(homework) java package, to illustrate the use of abstract classes,interfaces and polymorphism.</p></li>
<li><p>Created a Basic EJBean and Deployed it using Websphere and Apache Tomcat.</p></li>
<li><p>A basic Students Database with about 10 fields,3 views, and a couple of triggers on Oracle 9.0.</p></li>
<li><p>Created a Bootable Linux floppy disk: To compile the smallest linux kernel and add to it the basic shell functions. Compiled out a lot of kernel performance optimization options and other hardware support options to reduce the kernel size.</p></li>
<li><p>Used the basic executables provided by binutils. Created a root file system on the floppy disk populating it with the binutils executables. Then configured lilo to boot from the kernel image file.</p></li>
<li><p>A kernel space device driver for an LED controller application using the serial port.</p></li>
<li><p>Emulation of a Temperature sensor device driver as Loadable kernel module using /proc filesystem entries.</p></li>
<li><p>A user space device driver for an infinite source and sink device.</p></li>
<li><p>Building a GNU-Cross Tool chain setup installation for an ARM processor based PDA and port a Intel x86 based C Application onto the PDA.</p></li>
</ul>
<h1>Projects-Corporate/Commercial:</h1>
<ul>
<li><p>NetScaler Load Balancer Pattern Set config interface using django.</p></li>
<li><p>Automation VIP config migration across two Load Balancers and routers.</p></li>
<li><p>Setup Replication between a Percona slave and mysql master running on CentOS.</p></li>
<li><p>Setting up, maintenance of svn repository for internal server tools codebase.</p></li>
<li><p>Simple python script to update a given svn repo folder and reset the permissions on the contents.</p></li>
<li><p>Module manager for importing and executing python modules from the filesystem,dynamically.</p></li>
<li><p>Basic database test cases for a js driven,meta-data based web-app development framework</p></li>
<li><p>Basic Selenium test cases for the js driven UI of the web-app framework.</p></li>
<li><p>A python Package, to assign each user to a group, each of which has a specific set of permissions Create,Delete,Update,Migrate) of Machine Images,Volumes,Disks,Users,Cost limits,Applications etc. Used Django-ORM to store the tables on a MySQL DB.</p></li>
<li><p>Scheduler-Job package A Wrapper(CmnScheduler,CmnJob,CmnPeriodicJob,CmnCronJob) around the python APScheduler library. The wrapper, has to receive a python function/object(which will inherit the CronJob/PeriodicJob class and override the run method) and run it in a seperate process and maintains a status table(running/finished/scheduled) of the process.(Also in the process found a bug in the apscheduler library and got it fixed)</p></li>
<li><p>Sales order Upload: Sales order upload was a program that reads sales order headers and lines from an ASCII text file, sorts them according to the Sales order header and then creates/upgrades the sales order and lines table in Baan. The primary challenge was that there was no specific ordering/sequencing of the sales order lines and therefore all lines had to be read and sorted before updating the DB.</p></li>
<li><p>Baan V Customization:Report Layout modification for Sales Invoice layout of Hungary,china,chile. As a consequence of the RoHS Guidelines ECR,there were a few fields that needed to be printed based on whether the RoHS flag was true or false. The key challenge was that Baan Reports had a limit of 128 fields that could be exported to the report. So had to write a couple of lines in the report script to get the required field from the table or calculate it if possible.</p></li>
<li><p>Customization of Finance Transaction session: There were recurring problems of unbalanced transactions, due to a new sales order policy adopted.So customized the Finance Transaction session to allow upload of single transactions, currency-wise, thereby enabling the users to insert a transaction to balance the fiscal batch and close the year.</p></li>
<li><p>Additionally was responsible for Server Administration,(LAMP Server setup,replication between a mysql master and percona slave, High Availability on a centOS Server for an online ERP Application and AIX server backup on tape drive)</p></li>
</ul>
<h1>Projects-OpenSource:</h1>
<ul>
<li><p>Contributing Bloom filter datatype to redis server source code.</p></li>
<li><p>Implementing Modular Decomposition Tree algorithm for python-graph project</p></li>
</ul>
