<h1 id="my-live-projects">My Live Projects:</h1>
<ul>
<li><p>A lean UrlShortener using redis <a href="http://www.aang.in">http://www.aang.in</a></p></li>
<li><p>Facedetection with opencv + python <a href="http://facedetect.aang.in">http://facedetect.aang.in</a></p></li>
<li><p>Wishlist basic app with flask <a href="http://wishlist.aang.in/admin/">http://wishlist.aang.in/admin/</a></p></li>
</ul>
